body {
  text-align: center;
}

.App-header {
  background-color: #000;
  height: 250px;
  padding: 20px;
  color: white;

}

.App-store {
 padding: 40px;
}

.App-contrib {

  padding: 40px;
}


.App-intro {
padding: 40px;
  font-size: large;
}

.App-ticker {
padding: 40px;
 background-color: #000;
  font-size: medium;
}

@font-face {
  font-family: 'Open Sans';
  font-style: light;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

h1, h2, h3, h4, blockquote, q, .maia-nav ul {
   font-family: 'open sans';
}